

<body>
    <header>
        <nav class="navegacion">
            <ul class="menu">
                <li><a href="#"><h2>Educación</h2></a></li>
                <li><a href="#"><h2>Universitario</h2></a>
                    <ul class="submenu">
                        <li><a href="#">Actualmente cursado el 4° año de la carrera Ing. Industrial -Facultad de Ciencias Exactas y Tecnologia - UNT</a></li>
                    </ul>
                </li>

                <li><a href="#"><h2>Secundario</h2></a>
                    <ul class="submenu">
                        <li><a href="#">Bachiller Pedagogico</a></li>
                    </ul>
                </li>
                <li><a href="#"><h2>Cursos</h2></a>
                    <ul class="submenu">
                        <li><a href="#">Gasista 3° categoria - CIDEP</a></li>
                        <li><a href="#">Navez federal - emprendimiento -Macro</a></li>
                        <li><a href="#">Electrididad - UTN</a></li>
                        <li><a href="#">Mecanica del automotor - CIDEP</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
</body>