<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h2>UNT</h2>-<h3>(8 años)</h3></li>
            <P>Ingenieria industrail-FACULTAD DE CIENCIAS EXACTAS Y TECNOLOGICAS</P>
        </ul>
        <ul>
            <li><h2>ESC. NORMAL JUAN BUATISTA CABRAL </h2> - <h3>(5 años)</h3></li>
            <P>SECUANDARIO - BACHILLER PEDAGOGICO</P>
        </ul>
        <ul>
            <li><h2>MULTIPLES CURSOS</h2> - <h3>(5 años)</h3></li>
            <P>Gacista - CIDEP, ARGENTINA PROGRAMA -INTI, PROMERIA, ELECTRICIDAD, MECANICA</P>
        </ul>
    </div>
</div>

<body>
    <header>
        <nav class="navegacion">
            <ul class="menu">
                <li><a href="#">Educación</a></li>
                <li><a href="#">Universitario</a>
                    <ul class="submenu">
                        <li><a href="#">Actualmente cursado el 4° año de la carrera Ing. Industrial -Facultad de Ciencias Exactas y Tecnologia - UNT</a></li>
                    </ul>
                </li>

                <li><a href="#">Secundario</a>
                    <ul class="submenu">
                        <li><a href="#">Bachiller Pedagogico</a></li>
                    </ul>
                </li>
                <li><a href="#">Cursos</a>
                    <ul class="submenu">
                        <li><a href="#">Gasista 3° categoria - CIDEP</a></li>
                        <li><a href="#">Navez federal - emprendimiento -Macro</a></li>
                        <li><a href="#">Electrididad - UTN</a></li>
                        <li><a href="#">Mecanica del automotor - CIDEP</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
</body>