<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h2>UNT</h2>-<h3>(8 años)</h3></li>
            <P>Ingenieria industrail-FACULTAD DE CIENCIAS EXACTAS Y TECNOLOGICAS</P>
        </ul>
        <ul>
            <li><h2>ESC. NORMAL JUAN BUATISTA CABRAL </h2> - <h3>(5 años)</h3></li>
            <P>SECUANDARIO - BACHILLER PEDAGOGICO</P>
        </ul>
        <ul>
            <li><h2>MULTIPLES CURSOS</h2> - <h3>(5 años)</h3></li>
            <P>Gacista - CIDEP, ARGENTINA PROGRAMA -INTI, PROMERIA, ELECTRICIDAD, MECANICA</P>
        </ul>
    </div>
</div>

