<div class="row">
    <h1>Experiencia laboral
    
    </h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h2>Hidroeléctrica Tucumán s.a.</h2> - <h3>(4 años)</h3></li>
            <P>Mantenimiento de equipos;
                seguimiento del funcionamiento de instrumentos de medida;
                elaboración de un plan de consumo de vapor;
                resolución de problemas y averías;
                mantenimiento preventivo, etc.</P>
        </ul>
        <ul>
            <li><h2>Particular</h2> - <h3>(5 años)</h3></li>
            <P>Multiples oficios, contruccion, gasista, automotor y plomria. </P>
        </ul>
        <ul>
            <li><h2>Lomex s.a</h2> - <h3>(2 años)</h3></li>
            <P>Administrativo</P>
        </ul>
    </div>
</div>
