<div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <img src="../../../assets/alfredo.jpg" class="img-fluid" id="fotodeperfil">
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <h5 id="nombre">Abalos Alfredo Jesus</h5>
                <h5>Full stack developer Jr</h5>
                <h5>fredoabalos@gmail.com</h5>
                <h5>35 años</h5>
                <h5>Cel. 3813416898</h5>

            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <span>
                    <h2>Acerca de mi</h2>
                    <p>Soy estudiante de DESARROLLADOR y poseo excelentes habilidades de análisis, planificación y trabajo en equipo que he adquirido durante mis estudios universitarios, las prácticas en el sector logístico y algunos trabajos a tiempo parcial en el sector de contruccion y industrias. Como capitán del equipo de fútbol escolar, universitario, siempre demostré excelentes dotes de liderazgo. Me gustaría hacer prácticas en una empresa de comercio electrónico para ampliar mis conocimientos sobre marketing digital</p>
                </span>
            </div>

 </div>
