<div class="row">
    <h1>Proyecto realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-12 col-lg-12 parte1">
            <h2>Mi portafolio Argentina Programa</h2>
            <p>Este proyecto innovador por parte del gobierno, ofreciendo la posibilidad de entender conocer y la vida de un desorrollador en su trabajo</p>
        </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-5 offset-lg-5 parte2">
                <img src="../../../assets/proyecto1.png" class="img-fluid img-proyecto">
            </div>
        <div class="col-sm-12 col-md-12 col-lg-12 parte3">
            <h2>Cañapet</h2>
            <p>Es un proyecto compuesto de bagazo de caña de azucar y pet reciclado para la fabicacion de placas, para utilizarlo en fabricacion de mobiliarios y tambien multiples oficios como la contrucion , separadores de ambientes , etc.</p>
        </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-5 offset-lg-5 parte4">
                <img src="../../../assets/cañapet.png" class="img-fluid img-proyecto">
        </div>
    
        
        
        </div>    
    </div>
